
<div class="row">
    <div *ngFor="let gif of resultado"
          class="col-md-6 col-lg-4 col-xl-3 mb-3">
        <div class="card bg-light border-secondary text-center h-100">
            <div class="card-header">
                {{ gif.title | substring }}
              </div>
            <img [src]="gif.images.downsized_medium.url" 
                 [alt]="gif.title"
                 class="card-img-top">
            <div class="card-body">
                <!-- <h5 class="card-title">{{ gif.title }}</h5> -->                
                <a [href]="gif.url" target="_blank" class="btn btn-outline-primary">Open in GIPHY</a>
            </div>
        </div>
    </div>
</div>    