html, body {
    height: 100%;
    font-size: 16px;
}

#sidebar {
    height: 100%;
    min-height: 100vh;
    min-width: 180px;
}

#sidebar h3 {
    font-size: 170%;   
    /* Esto es una prueba de push */ 
}

